<!--  This file is app/views/movies/index.html.erb -->
<!--<h2>All Movies</h2>-->

<%#  Part 2: Start here... %>
<!--<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>-->
<!--  <% hidden_field_tag "title_sort", true if @title_header %>-->
<!--  <% hidden_field_tag ":release_date_sort", true if @date_header %>-->
<!--  Include:-->
<!--  <% @all_ratings.each do |rating| %>-->
<!--    <div class="form-check  form-check-inline">-->
<!--      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>-->
<!--      <%= check_box_tag "ratings[#{rating}]", "1",  @boxes, class: 'form-check-input' %>-->
<!--    </div>-->
<!--  <% end %>-->
<!--  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>-->
<!--<% end %>-->
  
  
<!--<table class="table table-striped col-md-12" id="movies">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th><%=link_to "Movie Title", :sort=>"title", id:"title_header" %></th>-->
<!--      <th>Rating</th>-->
<!--      <th><%=link_to "Release Data", :sort=>"release_date", id:"release_date_header"%></th>-->
<!--      <th>Director</th>-->
<!--      <th>More Info</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <% @movies.each do |movie| %>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <%= movie.title %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%= movie.rating %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%= movie.release_date %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%= movie.director %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%= link_to "More about #{movie.title}", movie_path(movie) %>-->
<!--        </td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->
<!--<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>-->


<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>
<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  <% hidden_field_tag "title_sort", true if @title_header %>
  <% hidden_field_tag ":release_date_sort", true if @date_header %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1",  @selected_ratings.include?(rating), class: 'form-check-input',:id=>"ratings_#{rating}" %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= @title_header %>">
        <%=link_to "Movie Title", movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'%> 
      </th>
      <th>Rating</th>
      <th class="<%= @date_header %>">
        <%= link_to "Release Date", movies_path(:sort => 'release_date', :ratings => @selected_ratings), :id => 'release_date_header'%> 
      </th>
      <th>Director</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= movie.director %>
        </td>        
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>